name: PR Deployment

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    uses: ./.github/workflows/build.yml
    name: Build
    secrets: inherit
    permissions:
      checks: write
      actions: write
      contents: write
      packages: read
      issues: read
      pull-requests: write
      id-token: write

  labels:
    runs-on: ubuntu-latest
    name: Add Labels
    steps:
      - name: Compute feature name
        id: feature
        uses: ./.github/actions/compute-feature-name
        with:
          prefix: dashboard-
    outputs:
      feature_name: ${{ steps.feature.outputs.feature_name }}
      host_name: ${{ steps.feature.outputs.feature_name }}

  deploy:
    name: Deploy to Feature Environment
    needs: [labels, build]
    uses: ./.github/workflows/deploy-service-to-environment.yml
    secrets: inherit
    with:
      environment: feature
      name: ${{ needs.labels.outputs.feature_name }}
      stack: ${{ needs.labels.outputs.feature_name }}
      service: superset
      component: service
      override: |
        {
          "namespace": "${{ needs.labels.outputs.feature_name }}",
          "supersetImageTag": "${{ needs.build.outputs.tag_hash }}"
        }

    permissions:
      contents: read
      deployments: write
      id-token: write

  lokalise_auto_merge:
    name: Lokalise Auto Merge
    uses: ./.github/workflows/pr-lokalise-auto-merge.yml
    needs: [deploy]
    secrets: inherit
